

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  padding-top:30px;
  padding-bottom:30px;
  background-color: #000000;
  background-image: url(../images/bg-img.jpg); 
  background-repeat: repeat-x;
  background-position: bottom;
  
}

p {
  color: #757575;
}

article {
  margin-bottom: 20px;
}

.f-product-holding {
  background-color: #ffffff;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid #cacaca;
}

.f-product__content {
  padding: 0 14px 8px;
}

span[class^='f-product__price'] {
  font-size: 1.8rem;
}

span.f-product__price--was {
  color: #C4C4C4;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 6px;
}

.margin-right {
  margin-right: 6px;
}

span[class$='price--now'] {
  color: #000000;
  font-weight: 600;
}

.btn {
  border: none;
  padding: 12px 14px;
}

.btn-default {
  background-color: #d6d6d5;
  font-weight: 500;
}

.btn-primary {
  background-color: #000000;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #2d2d2d;
}

@media (min-width: 992px) {
  .f-product__description {
    height: 60px;
  }
}


